@CHARSET "UTF-8";

.formtable {
	padding: 10px;
	border: 1px solid blue; 
	width: 400px;
}

input[type=text] {
	width: 250px;
	padding-left: 10px;
}

textarea {
	width: 250px;
	heigt: 150px;	
	padding-left: 10px;
}

.label {
	text-align: left;
	vertical-align: top;

}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;	
}

table.offers {
	padding: 10px;
	border: 1px solid gray;
}